<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Access Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/login.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
  <body style="background-image: url('/static/image/login-bg.jpg')">

    {% include('partial/header.html') %}

    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card mb-2" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <form class="form-signin mt-5" action="/" method="post">
              <input name="username" type="text" class="form-control" placeholder="Username" required>
              <input name="password" type="password" class="form-control" placeholder="Password" required>
              <div id="remember" class="checkbox my-2">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Sign In">
            </form>
        </div>
    </div>

    {% include('partial/footer.html') %}
    
  </body>
</html>
